// Codes BY Mahdi Tasha
// Importing Part
@use "../global/colors";

// Styles
@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$secondary;
    border-radius: 40rem;
  }
}